<h1 class="texto botonera m-3">Hola!!! Estos son los productos</h1>
<div class="contenedor m-3 row justify-content-center">
{{#each products}}
 
        <div class="tarjet col-2 m-4 hardware">
          <img class="img-fluid" src="./img/products/{{url}}">
          <div class="texto">
            <h5>{{nombre}}</h5>
            <p>El precio es: ${{valor}} </p>
            <form action="/editProducts?_method=PUT" method="post">
              <input type="hidden" name="_id" value={{_id}}>
             <h6 class="texto m-1">Estado: {{estado}}</h6>
          <select class="form-select" name="estado" aria-label="Default select example">
              <option selected>Estado del producto</option>
              <option value="Malo">Malo</option>
              <option value="Regular">Regular</option>
              <option value="Bueno">Bueno</option>
              <option value="Optimo">Optimo</option>
            </select>
            <button type="submit">Actualizar</button>
              </form>
          </div>
        </div>
  {{/each}}
</div>     
           
        
       